<%- include("header") -%>

<h2>More About the PowerList App</h2>

<p>In case you are curious this is a PowerList Project where you are able to take all of the items and tasks that you need to complete and categorize them. Feel the power of adding items and taking them off of your list as you go about your day. Feel the power, be the power!</p>

<%- include("footer") -%>
