body {
  background:linear-gradient( #9ce3ff 0%, rgb(231, 145, 244)90%) ;
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: "Architects Daughter", cursive;
  text-align: center;
  font-size: 130%;
}

.container {
  width: 100%;
  height: auto;
  min-height: 500px;
  max-width: 500px;
  min-width: 250px;
  background: #f1f5f8;
  background-image: radial-gradient(#bfc0c1 7.2%, transparent 0);
  background-size: 25px 25px;
  border-radius: 20px;
  box-shadow: 4px 3px 7px 2px #00000040;
  padding: 1rem;
  box-sizing: border-box;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.heading h1 {
  transform: rotate(2deg);
  padding: 0.2rem 1.2rem;
  border-radius: 100% 5% 100% 25%/100% 20% 100% 70%;
  background-color: #6ee0fd;
  font-size: 1.5rem;
}

.form input {
  box-sizing: border-box;
  background-color: transparent;
  padding: 0.7rem;
  border-bottom-right-radius: 15px 3px;
  border-bottom-left-radius: 3px 15px;
  border: solid 3px transparent;
  border-bottom: dashed 3px #6ee0fd;
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.7);
  width: 70%;
  margin-bottom: 20px;
}

li {
  flex-basis: calc(25% - 20px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.remove {
  left: 20px;
  padding: 5px 12px;
  cursor: pointer;
  flex-direction: row;
  background-color: rgba(109, 235, 252, 0.897);
  border: 2px solid rgba(0,0,0);
  border-radius: 55%;
  
}
.remove:hover {
  color: red;
  background-color:rgb(231, 145, 244);
}

button {
  padding: 0;
  border: none;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  padding-bottom: 3px;
  border-radius: 5px;
  background-color: #ffa7f8;
}


button span {
  background: #f1f5f8;
  display: block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid hsl(198, 1%, 29%);
}

button:hover span{
  background: #FFa7f8;
}

button:active span{
  transform: translateY(10%);
}

li {
  text-align: left;
  position: relative;
  padding: 0.5rem;
}

footer {
  position: absolute;
  bottom: 10px;
  z-index: -1;
}

footer a, a:visited{
  text-decoration: none;
  color: hsl(198, 1%, 29%);
  cursor: pointer;
}

footer a:hover {
  z-index: 1;
}